name: unit tests and docs

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Scala
        uses: olafurpg/setup-scala@v12
        with:
          java-version: adopt-openj9@1.8.0-292
      - name: Unit Tests
        run: |
          set -e
          ./mill _.test
  docs:
    name: update tool and metric markdown docs
    needs: test
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # To work with the `pull_request` or any other non-`push` even with git-auto-commit
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup sdkman
        shell: bash -l {0}
        run: |
          curl -s "https://get.sdkman.io" | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk version
          echo 'source "$HOME/.sdkman/bin/sdkman-init.sh"' >> "$HOME/.bash_profile"
      - name: Install tools
        shell: bash -l {0}
        run: |
          sdk install java 8.312.07.1-amzn
          sdk install scala 2.13.0
      - name: Build assembly JAR
        shell: bash -l {0}
        run: |
          set -e
          ./mill _.deployLocal
      - name: Build tool docs
        shell: bash -l {0}
        run: |
          set -e
          bash src/scripts/build_tool_docs.sh
      - name: Build metric docs
        shell: bash -l {0}
        run: |
          set -e
          bash src/scripts/build_metric_docs.sh
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.PGP_SECRET }}
          passphrase: ${{ secrets.PGP_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit generated docs
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Generate docs files"
          file_pattern: "docs/*.md docs/tools/*.md"
          commit_user_name: nh13
          commit_user_email: nils@fulcrumgenomics.com
          commit_author: nh13 <nils@fulcrumgenomics.com>
